<div class="form-group">
  <label for="title"> Title</label>
  <input
    required
    type="text"
    name="title"
    id="title"
    placeholder="Enter Title"
    class="form-control"
  />
</div>

<div class="form-group">
  <label for="description"> Description</label>
  <textarea
    name="description"
    id="description"
    placeholder="Enter Description"
    class="form-control"
  ></textarea>
</div>

<div class="form-group">
  <label for="Markdown"> Markdown</label>
  <textarea
    name="Markdown"
    id="Markdown"
    placeholder="Enter Markdown"
    class="form-control"
  ></textarea>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<buttom type="submit" class="btn btn-primary">Save</buttom>
